
<div id="footer">
    <div class="container">
        <p class="footer-block">
            <a href="http://www.khabmeteo.ru">&copy; ФГБУ &laquo;Дальневосточное УГМС&raquo; (www.khabmeteo.ru)</a>
        </p>
        </p>
    </div>
</div>