
<li class="dropdown">
    <a id="login_head" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.StationName <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">

        @foreach (var item in Model.Stations)
        {
            if (Model.StationCode != item.Code)
            {
                <li><a href="~/?stationCode=@(item.Code)&start=@(Model.DateToString(Model.Start))&limit=@(Model.Limit)&step=@(Model.Step)">@item.Name</a></li>
            }
        }

    </ul>
</li>
<li>
    @Html.ActionLink("Пред.",
            "Index",
            "Ionka",
            new
            {                                                     // routeValues
                stationCode = Model.StationCode,
                start = Model.Start.AddDays(-Model.Limit).ToString("yyyyMMdd"),
                limit = Model.Limit,
                step = Model.Step
            },
                                new
                                {
                                    @class = "btn btn-default btn-lg"
                                }
)
</li>
<li>
    @Html.ActionLink("След.",
            "Index",
            "Ionka",
            new
            {                                                     // routeValues
                stationCode = Model.StationCode,
                start = Model.End.ToString("yyyyMMdd"),
                limit = Model.Limit,
                step = Model.Step
            },
                                new
                                {
                                    @class = "btn btn-default btn-lg"
                                }
)
</li>
