@model GeospaceMediana.Models.ViewDisturbanceList
@{
    ViewBag.Title = "Нарушение радиосвязи";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th rowspan="2">День</th>
            <th colspan="@Model.theStationList.Count">Станция</th>    
                     
        </tr>

        <tr>
            @foreach (var item in Model.theStationList)
            {
                <th>@item.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @for(int i=1; i<=DateTime.DaysInMonth(ViewBag.YYYY, ViewBag.MM); i++)
        { 
            
            <tr>
                <td>@i</td>
                @foreach (var item in Model.theStationList)
                {
                    <td>@Model.GetCountHH(item.Code, ViewBag.YYYY, ViewBag.MM, i)</td>
                }
            </tr>
        }
    </tbody>
</table>
