.cssload-triangles {
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        height: 18px;
        width: 20px;
        position: relative;
        margin-left: 10px;
        bottom: 15px;
    }

    .cssload-tri {
        position: absolute;
        animation: cssload-pulse 862.5ms ease-in infinite;
        -o-animation: cssload-pulse 862.5ms ease-in infinite;
        -ms-animation: cssload-pulse 862.5ms ease-in infinite;
        -webkit-animation: cssload-pulse 862.5ms ease-in infinite;
        -moz-animation: cssload-pulse 862.5ms ease-in infinite;
        border-top: 6px solid rgb(33,90,109);
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 0px;
    }

        .cssload-tri.cssload-invert {
            border-top: 0px;
            border-bottom: 6px solid rgb(33,90,109);
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
        }

        .cssload-tri:nth-child(1) {
            left: 7px;
        }

        .cssload-tri:nth-child(2) {
            left: 3px;
            top: 6px;
            animation-delay: -143.75ms;
            -o-animation-delay: -143.75ms;
            -ms-animation-delay: -143.75ms;
            -webkit-animation-delay: -143.75ms;
            -moz-animation-delay: -143.75ms;
        }

        .cssload-tri:nth-child(3) {
            left: 7px;
            top: 6px;
        }

        .cssload-tri:nth-child(4) {
            left: 10px;
            top: 6px;
            animation-delay: -718.75ms;
            -o-animation-delay: -718.75ms;
            -ms-animation-delay: -718.75ms;
            -webkit-animation-delay: -718.75ms;
            -moz-animation-delay: -718.75ms;
        }

        .cssload-tri:nth-child(5) {
            top: 12px;
            animation-delay: -287.5ms;
            -o-animation-delay: -287.5ms;
            -ms-animation-delay: -287.5ms;
            -webkit-animation-delay: -287.5ms;
            -moz-animation-delay: -287.5ms;
        }

        .cssload-tri:nth-child(6) {
            top: 12px;
            left: 3px;
            animation-delay: -287.5ms;
            -o-animation-delay: -287.5ms;
            -ms-animation-delay: -287.5ms;
            -webkit-animation-delay: -287.5ms;
            -moz-animation-delay: -287.5ms;
        }

        .cssload-tri:nth-child(7) {
            top: 12px;
            left: 7px;
            animation-delay: -431.25ms;
            -o-animation-delay: -431.25ms;
            -ms-animation-delay: -431.25ms;
            -webkit-animation-delay: -431.25ms;
            -moz-animation-delay: -431.25ms;
        }

        .cssload-tri:nth-child(8) {
            top: 12px;
            left: 10px;
            animation-delay: -575ms;
            -o-animation-delay: -575ms;
            -ms-animation-delay: -575ms;
            -webkit-animation-delay: -575ms;
            -moz-animation-delay: -575ms;
        }

        .cssload-tri:nth-child(9) {
            top: 12px;
            left: 13px;
            animation-delay: -575ms;
            -o-animation-delay: -575ms;
            -ms-animation-delay: -575ms;
            -webkit-animation-delay: -575ms;
            -moz-animation-delay: -575ms;
        }


    @keyframes cssload-pulse {
        0% {
            opacity: 1;
        }

        16.666% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-o-keyframes cssload-pulse {
        0% {
            opacity: 1;
        }

        16.666% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-ms-keyframes cssload-pulse {
        0% {
            opacity: 1;
        }

        16.666% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes cssload-pulse {
        0% {
            opacity: 1;
        }

        16.666% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @-moz-keyframes cssload-pulse {
        0% {
            opacity: 1;
        }

        16.666% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }