@{
    Layout = "";
}

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>

}
else
{
    <div class="forecast" style="font-size:25px; font-family:'Courier New'">
        @Html.Raw("<pre>" + Html.Encode(Model.subday_forecast) + "</pre>")
    </div>
}