<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="logDirectory" value="${basedir}/logs/" />

  <targets>
    <target name="log" xsi:type="File" fileName="${logDirectory}/${shortdate}_log.txt" />
    <target name="error" xsi:type="File" fileName="${logDirectory}/${shortdate}_error.txt" />
    <target name="logmagma" xsi:type="File" fileName="${logDirectory}/${shortdate}_logmagma.txt" />
    <target name="logumagf" xsi:type="File" fileName="${logDirectory}/${shortdate}_logumagf.txt" />
    <target name="logAverage" xsi:type="File" fileName="${logDirectory}/${shortdate}_logAverage.txt" />
    <target name="errorAverage" xsi:type="File" fileName="${logDirectory}/${shortdate}_errorAverage.txt" />
    <target name="logMediana" xsi:type="File" fileName="${logDirectory}/${shortdate}_logMediana.txt" />
    <target name="errorMediana" xsi:type="File" fileName="${logDirectory}/${shortdate}_errorMediana.txt" />
    <target name="logUGEOI" xsi:type="File" fileName="${logDirectory}/${shortdate}_logUGEOI.txt" />
  </targets>

  <rules>
    <logger name="log" minlevel="Debug" writeTo="log" />
    <logger name="error" minlevel="Debug" writeTo="error" />
    <logger name="logumagf" minlevel="Debug" writeTo="logumagf" />
    <logger name="logmagma" minlevel="Debug" writeTo="logmagma" />
    <logger name="logAverage" minlevel="Debug" writeTo="logAverage" />
    <logger name="errorAverage" minlevel="Debug" writeTo="errorAverage" />
    <logger name="logMediana" minlevel="Debug" writeTo="logMediana" />
    <logger name="errorMediana" minlevel="Debug" writeTo="errorMediana" />
    <logger name="logUGEOI" minlevel="Debug" writeTo="logUGEOI" />
  </rules>
</nlog>
